
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page3</title>
</head>
<body>
    <h1>Num of request is on Page 1</h1>
    <p><h3>Visit:</h3></p>
    <div>
        @Html.ActionLink("Page 1", "Page1", "Home")
    </div>
    <div>
        @Html.ActionLink("Page 2", "Page2", "Home")
    </div>
</body>
</html>
